* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#canvas {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: kodeMono;
  src: url(./assets/kodeMono.ttf);
}
@font-face {
  font-family: bungeeShade;
  src: url(./assets/BungeeShade.ttf);
}
